$color_1: white;
$color_2: black;
$color_3: #ffffff;
$color_4: #3d3d3d;
$color_5: #007bff;
$color_6: inherit;
$color_7: #fff;
$font_family_1: 'Roboto Slab', serif;
$font_family_2: "Open Sans", sans-serif;
$background_color_1: #00c0ef;
$background_color_2: rgba(172, 172, 172, 0.1);
$background_color_3: transparent;
$background_color_4: red;
$border_color_1: none;
$main_dashboard_color:  linear-gradient(to left, #2690d8, #0085dd, #007ae0, #006de2, #0c5fe1);
$main_dashboard_color_2:#48b0f7;

$grad: 	linear-gradient(147deg, #000000 0%, #2c3e50 74%),
		linear-gradient(315deg, #05e8ba 0%, #087ee1 74%),
		linear-gradient(to left, #2690d8, #0085dd, #007ae0, #006de2, #0c5fe1);

$themename: black, green, blue;

$colours: rgba(36, 50, 65, 1), // white
		rgba(6, 186, 203, 1),     // red
		rgba(0, 133, 221, 1); // sky blue
		  
$i: 1;

@each $colour in $themename {
    
	.theme-#{$colour} .randomLinks {
		ul {
			li {
				a {
					color: $color_2;
					padding: 7px 23px;
					display: block;
					font-size: 14px;
					&:hover {
						background: nth($colours, $i);
						color: $color_1;
					}
					img {
						padding-bottom: 5px;
					}
				}
			}
		}

	}
 
	.theme-#{$colour} .sidebarhalfBack { 
		background-image: nth($grad, $i);   //$main_dashboard_color;
		color: $color_1;
	}

	.theme-#{$colour} .sidebarList {
		ul {
			border-top: 1px solid #d3d3d34f;
			background-image: nth($grad, $i); //$main_dashboard_color;
		}
	}

	.theme-#{$colour} .box.blue {
		background: nth($colours, $i);
	}

	.theme-#{$colour} ul.applyLeaves {
		margin-top: 10px !important;
		padding: 0;
		li {
			a {
				font-size: 12px;
				color: $color_2;
				border: 1px solid grey;
				border-radius: 43px;
				padding: 3px 11px;
				display: inline-block;
				&:hover {
					background: nth($colours, $i);
					color: $color_1;
				}
			}
		}
	}

	.theme-#{$colour} .more-products-nav {
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		width: 54px !important;
		margin: 0 auto !important;
		margin-top: 50px !important;
		background: nth($colours, $i) ;
		box-shadow: -2px 0px 7px 0px rgb(152, 148, 148);
	}

	.theme-#{$colour} .float-nav {
		position: fixed;
		bottom: 20px;
		right: 33px;
		z-index: 3;
		>a.menu-btn {
			display: block;
			background:nth($colours, $i);
			color: white;
			padding: 2px 12px;
			-webkit-box-shadow: 2px 2px 8px #777;
			box-shadow: 2px 2px 8px #777;
			border-radius: 300px;
			font-size: 29px;
		}
	}

	.theme-#{$colour} .main-nav {
		display: none;
		opacity: 0;
		font-family: $font_family_1;
		position: absolute;
		bottom: 20px;
		right: 34px;
		transition: opacity 250ms;
		z-index: 2;
		>ul {
			width: 100%;
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			background: nth($colours, $i);
			box-shadow: 2px 2px 8px #777;
			border-radius: 20px;
			padding: 38px 0;
		}
	}

	$i: $i + 1;
}

	
/*****************SideBar*******************/
/* ul.applyLeaves .applyLeave{
  background: #10cfbd;
}
ul.applyLeaves .ciewCalender{
  background: #48b0f7;
} */
body {
	background: #f8f8f8;
	font-family: $font_family_1;
}
p {
	margin: 0;
}
ul {
	margin: 0;
}
a {
	text-decoration: none !important;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
}
h5 {
	margin: 0;
	padding: 0;
}
h6 {
	margin: 0;
	padding: 0;
}
.sidebarBack {
	background: #f7f7f7;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	-webkit-box-shadow: 3px -1px 5px 0px rgb(226, 219, 219);
	-moz-box-shadow: 3px -1px 5px 0px rgb(226, 219, 219);
	box-shadow: 3px -1px 5px 0px rgb(226, 219, 219);
	width: 275px;
	h3 {
		font-size: 16px;
		margin-top: 14px;
		margin-bottom: 0;
		letter-spacing: 1.2px;
	}
	p {
		font-size: 13px;
	}
	img {
		border-radius: 50% !important;
	}
}

.sidebarList {
	p {
		text-transform: uppercase;
		color: $color_1;
		font-weight: bold;
		font-size: 12px;
	}
	padding: 14px 0 0 0;
	ul {
		border-top: 1px solid #d3d3d34f;
		background-image: $main_dashboard_color;
	}
	li {
		border-left: 1px solid #d3d3d34f;
		padding: 10px 17px;
		margin: 0 !important;
		&:nth-child(1) {
			border-left: none !important;
		}
	}
	span {
		font-size: 11px;
	}
}
span {
	text-transform: uppercase;
}

.profileEdit {
	color: $color_1;
}
.mainContent {
	.box {
		height: 317px;
		width: 100%;
		padding: 20px 12px;
		background: #ffffff;
		border-radius: 5px;
		-webkit-box-shadow: 0px -1px 5px 0px rgb(226, 219, 219);
		-moz-box-shadow: 0px -1px 5px 0px rgb(226, 219, 219);
		box-shadow: 0px -1px 5px 0px rgb(226, 219, 219);
	}
	.box.green {
		background-image:linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);;
	}

	.box.grey {
		background: #e7e7e7;
		padding: 0;
	}
	.box.black {
		background: #333333;
	}
	.ibox-title {
		padding: 0 !important;
		background-color: $background_color_3;
		border-color: $border_color_1 !important;
		border-image: none !important;
		border-style: none !important;
		border-width: none !important;
		color: $color_6;
		margin-bottom: 0;
		min-height: 48px;
		position: relative;
		clear: both;
	}
}
.rightSideBar {
	background: #00539cff;
	height: 100%;
	z-index: 1;
	width: 92px;
	position: fixed;
	top: 0;
	right: 0;
	ul {
		li {
			a {
				i {
					font-size: 29px;
					color: $color_1;
				}
				display: block;
				padding: 18px 0;
				border-bottom: 1px solid grey;
				&:hover {
					background: #007bff;
					color: $color_1;
				}
			}
		}
	}
}
.button {
	position: relative;
	color: $color_3;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	&:after {
		content: "";
		background: #7498bf;
		display: block;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -20px !important;
		margin-top: -120%;
		opacity: 0;
		transition: all 0.8s;
	}
	&:active {
		&:after {
			padding: 0;
			margin: 0;
			opacity: 1;
			transition: 0s;
		}
	}
}
.graphBox {
	padding-top: 8px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.leavesCounter {
	ul.consumedAndLeft {
		background: #f8f8f8;
		li {
			padding: 4px 0;
			border-left: 1px solid #d3d3d387;
			margin: 0;
			width: 31.9%;
			height: 36px;
			h3 {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
			}
			h5 {
				text-transform: uppercase;
				font-size: 11px;
			}
		}
	}
}
ul.applyLeaves {
	margin-top: 10px !important;
	padding: 0;
	li {
		a {
			font-size: 12px;
			color: $color_2;
			border: 1px solid grey;
			border-radius: 43px;
			padding: 3px 11px;
			display: inline-block;
			&:hover {
				background: $main_dashboard_color_2;
				color: $color_1;
			}
		}
	}
}
.communityWall {
	ul {
		li {
			a {
				i {
					color: $color_1;
				}
				&:hover {
					background: #3c91cc;
				}
				display: block;
				width: 30px;
				height: 30px;
				padding: 3px 6px;
			}
			margin: 0 !important;
		}
	}
	span {
		color: $color_1;
		font-size: 13px;
		margin-top: 87px;
		display: block;
	}
	h3 {
		color: $color_1;
		text-transform: capitalize;
		font-size: 30px;
	}
}
.info-box {
	display: block;
	min-height: 52px;
	background: #fff;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 15px;
}
.bg-aqua {
	background-color: $background_color_1 !important;
	color: $color_1;
}
.info-box-content {
	padding: 5px 10px 6px 9px;
	display: inline-block;
	ul {
		li {
			a {
				font-size: 12px;
				color: $color_2;
			}
		}
	}
}
.progress-description {
	display: block;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	text-transform: uppercase;
}
.info-box-text {
	display: block;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	text-transform: uppercase;
}
.info-box-number {
	display: block;
	font-size: 12px;
}
.info-box-icon {
	display: block;
	float: left;
	height: 53px;
	width: 50px;
	text-align: center;
	font-size: 30px;
	line-height: 49px;
	background: rgba(0, 0, 0, 0.2);
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	i {
		font-size: 30px;
	}
}
.serviceDesk {
	h3 {
		margin-top: 10px;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
		float: left;
		width: 100%;
	}
	.info-box {
		.info-box-content {
			.dropdown {
				a {
					color: $color_2;
					font-size: 12px;
				}
				.dropdown-menu {
					a {
						border: none;
					}
				}
			}
		}
	}
}
.bg-green {
	color: $color_1;
	background: #00a65a !important;
}
.bg-yellow {
	color: $color_1;
	background: #f39c12 !important;
}
ul.sidebarLinks {
	li {
		a {
			span {
				width: 25px;
				display: inline-block;
				text-align: center;
			}
		}
	}
}
.iconScroller {
	position: fixed;
	right: 0;
	z-index: 1;
	top: 0;
}
.more-products-nav {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	width: 54px !important;
	margin: 0 auto !important;
	margin-top: 50px !important;
	background: $main_dashboard_color_2;
	box-shadow: -2px 0px 7px 0px rgb(152, 148, 148);
	h3 {
		color: $color_4;
		font-family: $font_family_2;
		font-weight: 600;
		font-style: normal;
		font-size: rem(22px);
		line-height: rem(30px);
		letter-spacing: 6.6px;
		margin-bottom: 34px;
		text-align: center;
	}
	.vs-slides {
		position: relative;
		.vs-slides-inner {
			height: 418px;
			overflow: hidden;
			.vs-products-outer {
				height: 100%;
				position: relative;
			}
		}
	}
	.vs-products {
		height: 100%;
		width: 100%;
		a.vs-product {
			display: block;
			height: 12%;
			width: 100%;
			&:hover {
				background-color: $background_color_2;
			}
			.vs-image {
				width: 50%;
				float: left;
				height: 100%;
				position: relative;
				img {
					margin: 0;
					position: absolute;
					top: 50%;
				}
			}
			.vs-title {
				width: 66.66667%;
				position: relative;
				float: right;
				height: 100%;
				h4 {
					color: $color_4;
					font-weight: 300;
					font-style: normal;
					font-size: rem(22px);
					line-height: rem(30px);
					letter-spacing: 0;
					position: absolute;
					width: 100%;
					top: 50%;
					left: 0;
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.vs-controls {
		.vs-control {
			width: 100%;
			height: 28px;
			position: absolute;
			text-align: center;
			z-index: 10;
			cursor: pointer;
		}
		.vs-control.up {
			bottom: 100%;
			padding: 12px 0 0 0;
			i {
				position: relative;
				background-position: 0 -402px;
				bottom: 22px;
				font-size: 40px;
			}
		}
		.vs-control.down {
			top: 100%;
			padding: 0 0 12px 0;
			i {
				position: relative;
				background-position: 0 -386px;
				top: 0;
				font-size: 40px;
			}
		}
		.vs-control.deactivate {
			opacity: 0.3;
			cursor: default;
		}
	}
}
.processManager {
	padding: 0 !important;
	.listissues {
		padding: 20px 12px 0 12px;
	}
	ul.settings {
		background: #f8f8f8 !important;
		li {
			span {
				display: block;
				text-align: center;
				text-transform: capitalize;
				font-size: 13px;
				line-height: 14px;
				color: $color_2;
				margin-top: 10px;
			}
		}
	}
	.settings {
		li {
			padding: 0 7px 11px 6px;
			margin: 0;
			width: 32.2%;
			text-align: center;
			border-left: 1px solid #d3d3d387;
			&:nth-child(1) {
				border-left: none !important;
			}
		}
	}
	ul.listissues {
		li {
			i {
				position: absolute;
				display: inline-block;
				padding-top: 5px;
				color: $color_5;
				font-size: 13px;
			}
			.pmList {
				display: inline-block;
				padding-left: 20px;
				font-size: 12px;
				color: $color_5;
				text-transform: capitalize;
			}
			margin-bottom: 3px;
		}
	}
	h3 {
		margin-top: 35px;
		font-size: 15px;
		padding: 0 12px;
		text-align: center;
		font-weight: bold;
		float: left;
		width: 100%;
	}
}
.news-item {
	font-size: 13px;
}
.lstestNews {
	h3 {
        margin-top: 10px;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
		float: left;
		width: 100%;
	}
	.demo2 {
		li {
			padding: 5px 0;
			border-bottom: 1px solid lightgrey;
		}
	}
}
.sliderImage {
	padding: 0 !important;
	.carousel-inner {
		height: 306px !important;
		img {
			height: 100% !important;
			border-radius: 5px;
			width: 100%;
		}
	}
	h3 {
		margin-top: 35px;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
	}
}
.box-height {
	height: 235px;
	float: left;
	width: 100%;
}
.text-wrap {
	p {
		padding: 0 10px;
		line-height: 19px;
	}
	margin-top: 5px;
}
.ibox-content {
	padding: 0;
}
.ui-sortable {
	.ibox-title {
		cursor: move;
	}
}
.ibox {
	margin-bottom: 25px;
}
#tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	.tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: $background_color_4;
		color: $color_7;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 5s;
	}
	&:hover {
		.tooltiptext {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
}
$color_1: white;
$font_family_1: sans-serif;
$background_color_2: transparent;

.float-nav {
	position: fixed;
	bottom: 20px;
	right: 33px;
	z-index: 3;
	>a.menu-btn {
        display: block;
        background-image:$main_dashboard_color_2;
        color: white;
        padding: 2px 12px;
        -webkit-box-shadow: 2px 2px 8px #777;
        box-shadow: 2px 2px 8px #777;
        border-radius: 300px;
        font-size: 29px;
	}
	>a.menu-btn.active {
		transition: background-color 250ms linear;
		background-color: $background_color_2;
		box-shadow: none;
		>ul {
			>li.line {
				&:nth-child(1) {
					border-width: 2px;
					-moz-transform: rotate(45deg) translate(4px, 6px);
					-ms-transform: rotate(45deg) translate(4px, 6px);
					-webkit-transform: rotate(45deg) translate(4px, 6px);
					transform: rotate(45deg) translate(4px, 6px);
				}
				&:nth-child(2) {
					visibility: hidden;
				}
				&:nth-child(3) {
					border-width: 2px;
					-moz-transform: rotate(-45deg) translate(8px, -10px);
					-ms-transform: rotate(-45deg) translate(8px, -10px);
					-webkit-transform: rotate(-45deg) translate(8px, -10px);
					transform: rotate(-45deg) translate(8px, -10px);
				}
			}
		}
	}
}
.main-nav {
	display: none;
	opacity: 0;
	font-family: $font_family_1;
	position: absolute;
	bottom: 20px;
	right: 34px;
    transition: opacity 250ms;
    z-index: 2;
	>ul {
		width: 100%;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		background: $background_color_1;
		box-shadow: 2px 2px 8px #777;
        border-radius: 20px;
        padding: 38px 0;
		>li {
			>a {
				text-decoration: none;
				display: block;
				padding: 3px 7px;
				color: $color_1;
				&:hover {
					font-weight: 400;
				}
			}
		}
    }
    .swatch-holder{
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: 0px 5px;
        transition: all .2s;
        opacity: .7;
        display: inline-block;
        border-radius: 30px;
    }
}
.main-nav.active {
	display: block;
	opacity: 1;
	transition: opacity 250ms;
}
@media only screen and (max-width:1400px) {
	.closebtn {
		display: none;
	}
	#sidebatbtn {
		display: none;
	}
}
@media only screen and (max-width:1199px) {
	.sidebarBack {
		width: 250px;
	}
	.sidebarList {
		li {
			padding: 10px 13px;
		}
	}
	.randomLinks {
		ul {
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}
	.mainContent {
		.box {
			height: 291px;
			padding: 20px 12px;
		}
	}
	.communityWall {
		span {
			margin-top: 40px;
		}
	}
	.box-height {
		height: 220px;
	}
	.processManager {
		.settings {
			li {
				padding: 0 0px 11px 0px;
				width: 31.333%;
			}
		}
	}
}
@media only screen and (max-width:1099px) {
	.lstestNews {
		.demo2 {
			li {
				padding: 2px 0;
			}
		}
	}
	.info-box-icon {
		height: 49px;
		width: 42px;
		font-size: 16px;
		line-height: 44px;
	}
	.info-box-content {
		padding: 5px 0px 6px 3px;
	}
	ul.demo2 {
		height: 202px !important;
	}
	.communityWall {
		h3 {
			font-size: 26px;
		}
	}
	.sidebarBack {
		width: 233px;
	}
	.sidebarList {
		li {
			padding: 10px 10px;
		}
	}
	.randomLinks {
		ul {
			li {
				a {
					padding: 7px 10px;
				}
			}
		}
	}
}
@media only screen and (max-width:991px) {
	.sidebarBack {
		position: inherit;
		width: 100%;
		h3 {
			font-size: 14px;
		}
		p {
			font-size: 12px;
		}
	}
	.sidebarList {
		li {
			padding: 10px 9px;
		}
	}
	.mobileView {
		margin-top: 1.5rem;
	}
	.info-box-icon {
		height: 55px;
		width: 56px;
		font-size: 23px;
		line-height: 44px;
	}
	.info-box-content {
		padding: 5px 4px 6px 11px;
	}
	.carousel-item {
		height: 290px !important;
	}
}
@media only screen and (max-width:767px) {
	.mobileView575 {
		margin-top: 1.5rem;
	}
}
@media only screen and (max-width:575px) {
	.closebtn {
		display: block;
		position: absolute;
		top: -11px;
		left: 158px;
		font-size: 36px;
		margin-left: 50px;
		z-index: 3;
		color: $color_1;
	}
	#sidebatbtn {
		display: inline-block;
		background: #2d98e0;
		color: $color_1;
		border: none;
		padding: 2px 9px;
		margin-bottom: 9px;
	}
	#mySidebar {
		display: block;
		height: 100%;
		width: 50%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
	}
	.mobile_padding {
		padding-left: 40px !important;
	}
}
@media only screen and (max-width:420px) {
	.closebtn {
		top: -11px;
		left: 158px;
	}
	#mySidebar {
		width: 60%;
	}
}
